// CREATED BY KOPFMAD
/////////////////////////////////////////////////////////////////////////

// FONT IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/////////////////////////////////////////////////////////////////////////
// FONT FAMILIES
$font-family-1: 'Permanent Marker', cursive;
// $font-family-2:
// $font-family-3:
// $font-family-4:
// $font-family-5:
// $font-family-6:
// $font-family-7:
// $font-family-8:
// $font-family-9:
// $font-family-10:
/////////////////////////////////////////////////////////////////////////
// FONT SIZES
$font-size-1: calc(1rem + 0vw);
$font-size-2: calc(1rem + 1vw);
$font-size-3: calc(1rem + 2vw);
$font-size-4: calc(1rem + 3vw);
$font-size-5: calc(1rem + 4vw);
$font-size-6: calc(1rem + 5vw);
$font-size-7: calc(1rem + 6vw);
$font-size-8: calc(1rem + 7vw);
$font-size-9: calc(1rem + 8vw);
$font-size-10: calc(1rem + 9vw);
/////////////////////////////////////////////////////////////////////////
// MARGINS
$margin-1: calc(1rem + 0vw);
$margin-2: calc(1rem + 5vw);
$margin-3: calc(2rem + 0vw);
$margin-4: calc(2rem + 5vw);
$margin-5: calc(3rem + 0vw);
$margin-6: calc(3rem + 5vw);
$margin-7: calc(4rem + 0vw);
$margin-8: calc(4rem + 5vw);
$margin-9: calc(5rem + 0vw);
$margin-10: calc(5rem + 5vw);
/////////////////////////////////////////////////////////////////////////
// PADDINGS
$padding-1: calc(1rem + 0vw);
$padding-2: calc(1rem + 5vw);
$padding-3: calc(2rem + 0vw);
$padding-4: calc(2rem + 5vw);
$padding-5: calc(3rem + 0vw);
$padding-6: calc(3rem + 5vw);
$padding-7: calc(4rem + 0vw);
$padding-8: calc(4rem + 5vw);
$padding-9: calc(5rem + 0vw);
$padding-10: calc(5rem + 5vw);
/////////////////////////////////////////////////////////////////////////
// COLORS
$color-primary-a: rgba(0, 0, 0, 1);
$color-primary-b: rgba(0, 0, 0, 0.75);
$color-primary-c: rgba(0, 0, 0, 0.5);
$color-primary-d: rgba(0, 0, 0, 0.25);
$color-secondary-a: rgba(255, 0, 0, 1);
$color-secondary-b: rgba(255, 0, 0, 0.75);
$color-secondary-c: rgba(255, 0, 0, 0.5);
$color-secondary-d: rgba(255, 0, 0, 0.25);
$color-tertiary-a: rgba(0, 255, 0, 1);
$color-tertiary-b: rgba(0, 255, 0, 0.75);
$color-tertiary-c: rgba(0, 255, 0, 0.5);
$color-tertiary-d: rgba(0, 255, 0, 0.25);
$color-quaternary-a: rgba(0, 0, 255, 1);
$color-quaternary-b: rgba(0, 0, 255, 0.75);
$color-quaternary-c: rgba(0, 0, 255, 0.5);
$color-quaternary-d: rgba(0, 0, 255, 0.25);
/////////////////////////////////////////////////////////////////////////
// GRIDS
// $grid-template-columns-1: ;
// $grid-template-columns-2: ;
// $grid-template-columns-3: ;
// $grid-template-columns-4: ;
/////////////////////////////////////////////////////////////////////////
